
#sf_asset_container  { margin-left:170px}
#sf_asset_container h2 { font-size:1.2em;color:#737357;font-weight:bold;}
#sf_asset_container .title { background-color: #E3E3E7;padding:3px 10px;height:45px}
#file_window { position:relative;border: 1px #e3e3c7 solid; padding:4px;min-height: 600px;overflow:auto}
#file_window h2 { background-color:#E0EEEE;border:1px solid #e0eeaa;padding:5px 10px}
#sf_asset_left { width: 170px;overflow:auto; float:left;position:relative;z-index:1;}
#sf_asset_left h2 {background-color:#E3E3C7;color:#737357;font-size:1.2em;font-weight:bold;padding:3px 10px;height:45px;}
#dir_explorer { border: 1px #e3e3c7 solid; border-right-width: 3px; padding:4px;min-height: 500px;}


#sf_asset_container_edit { width: 90% }
#sf_asset_container ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,input
{ margin: 0; padding: 0; }
#sf_asset_container a img,:link img,:visited img { border: none; }

#sf_asset_container a:link, #sf_admin_container a:visited
{
  text-decoration: none;
}

#sf_asset_container a:hover
{
  text-decoration: underline;
}

#sf_asset_container td
{
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
}

#sf_asset_container p
{
  margin-bottom: 5px;
}

#sf_asset_container #sf_asset_assets
{
  padding-top: 10px;
  clear: left;
}

#sf_asset_container h1
{
  margin: 8px 0;
  padding: 3px;
  padding-left: 0px;
  color: #555;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 25px;
}

#sf_asset_container input
{
  padding: 3px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  border: 1px solid #ddd;
  vertical-align:middle;
}

#sf_asset_container label
{
  display: block;
  padding: 0 1em 3px 0;
  text-align: left;
  color: #666;
  font-weight: normal !important;
}

span.crumb
{
  padding: 0 5px;
}

#sf_asset_container span.wrap_space
{
  font-size:0px;
}

#sf_asset_container #sf_admin_edit_form
{
  margin-top: 5px;
}

#sf_asset_container #sf_admin_edit_form label
{
  float:left;
  width:14.2em;
}

#sf_asset_container .form-row
{
  padding: 10px;
}

#sf_asset_container #sf_asset_upload_form
{
  width: 240px;
  margin-right: 10px;
}

#sf_asset_container #sf_asset_mkdir_form
{
  width: 150px;
}

#sf_asset_container fieldset
{
  margin-bottom: 5px;
  border: 1px solid #ddd;
}

#sf_asset_container .float-left
{
  float: left;
}

#sf_asset_container .float-right
{
  float: right;
}

#sf_asset_container ul.sf_asset_actions
{
  display: block;
  margin: 0;
  list-style-type: none;
  text-align: right;
}

#sf_asset_container ul.sf_asset_actions a
{
  color: #333;
}

#sf_asset_container ul.sf_asset_actions li
{
  list-style-type: none;
  display: inline;
}

#sf_asset_container ul.sf_asset_actions input
{
  padding: 3px 3px 3px 20px;
  color: #333;
  font-size: 11px;
  font-family: Arial, sans-serif;
  border: 0px;
  border-right: 4px solid #999;
  background-color: #ffc;
  cursor: hand;
  cursor: pointer;
}

#sf_asset_container .sf_asset_action_add_file
{
  background: url(../images/filenew.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#sf_asset_container .sf_asset_action_add_folder
{
  background: url(../images/folder_new.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#sf_asset_container .sf_asset_filters li
{
  list-style-type: none;
}

#sf_asset_container .assetImage
{
  float: left;
  padding: 5px;
  width: 84px;
  height: 130px;
  margin:5px 5px 20px;
  text-align: center;
}

#sf_asset_container .assetComment
{
  color: black;
  text-align: center;
  padding-top: 3px;
  font-size:0.9em;
}

#sf_asset_container .assetComment .details
{
  text-align: right;
  color: #999;
}

#sf_asset_container .thumbnails
{
  width: auto !important;
  width: 0;
  height: 84px;overflow:hidden;
}

#sf_asset_container .thumbnails a:hover img
{
  background: #eee;
}

#sf_asset_container img.deleteImage, #sf_asset_container img.editImage
{
  visibility: hidden;
}

#sf_asset_container .assetImage:hover img.deleteImage, #sf_asset_container .assetImage:hover img.editImage
{
  visibility: visible;
}

#sf_asset_container .search_result .details
{
  padding-top: 5px;
}

#thumbs
{
  position: absolute;
  right: 40px;
}

#sf_asset_bar
{
  width: 250px;
  float: right;
  border: solid 1px #eed;
  padding: 10px;
  margin: 5px;
}

#sf_asset_bar form
{
  margin: 0;
}

#sf_asset_bar .form-row .content
{
  margin: 2px 0 5px 0;
}

#tinyMCE_insert_form img.thumb
{
  position: absolute;
  right: 20px;
  top: 20px;
}
table.image_edit tr,table.image_edit td  { border:0;}


.modal {
		background-color:#fff;
		display:none;
		width:350px;
		padding:15px;
		text-align:left;
		border:2px solid #333;
		opacity:0.8;
                overflow-y: auto;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-box-shadow: 0 0 50px #ccc;
		-webkit-box-shadow: 0 0 50px #ccc;
	}

	.modal h2 {
		background:url(/images/icons/info.png) 0 50% no-repeat;
		margin:0px;
		padding:10px 0 10px 45px !important;
		border-bottom:1px solid #333;
		font-size:20px !important;
                background-color:#fff !important;margin-bottom:20px;
	}
        /* the overlayed element */
#upload { width:825px}
.accio_petita { font-size:0.7em; color: #344;display:inline-block;margin-bottom:5px}
.text_ajuda { font-style: italic; color: #aaa;font-size: 0.9em; }
ul.actions { text-align: right; height: 20px; }
ul.actions li {  background: #ffddff url(/sfAdminDashPlugin/images/icons/small/config.png) no-repeat 2px 50%;float:left;
                list-style: none; margin-left:10px;padding: 3px 3px 3px 20px;border-left:5px solid #009500;}
ul.actions li a:hover{ text-decoration: underline;}
ul.actions li a{ text-decoration: none; color: #000;}
.thumbnail { float:left;}
.thumbnail h2 { margin-bottom: 5px;}
.dades_foto { border-top:1px solid #ccc; padding:10px 5px; background-color: #fff;}

.resize { border:2px solid #fff;}

/**** EDITOR ****/
.original_foto { width:800px;overflow:auto;}
ul.top_actions { margin:0 0 15px 0 !important}
ul.top_actions li { display: inline;}
ul.top_actions li a:hover { background-color:#ccc !important;}
ul.top_actions li a {padding:0 20px;color:#000;text-decoration: none}
ul.top_actions li a#save_file { background: transparent url(/sfAssetsLibraryPlugin/images/save.gif) no-repeat 0 50%;}
ul.top_actions li a#crop_file { background: transparent url(/sfAssetsLibraryPlugin/images/crop.gif) no-repeat 0 50%;}
ul.top_actions li a#resize_file { background: transparent url(/sfAssetsLibraryPlugin/images/resize.gif) no-repeat 0 50%;}
ul.top_actions li a#restore_file { background: transparent url(/sfAssetsLibraryPlugin/images/revert.gif) no-repeat 0 50%;}
ul.top_actions li a#end_edit { background: transparent url(/sfAssetsLibraryPlugin/images/cancel.png) no-repeat 0 50%;}
#crop_tools, #resize_tools { margin: 0 0 10px 0}
.foto_details { width:450px; z-index:1000;position:absolute;top:0;right: 0;border:1px solid #ccc;background-color:#E0EEEE;border:1px solid #E0EEFf;}
.foto_details h3 {background:none repeat scroll 0 0 #AAAAAA;padding:9px 5px; }
.foto_details h3 span { width:22px;float:right;cursor:pointer;background: transparent url(/sfAssetsLibraryPlugin/images/collapse.png) no-repeat 0 50%; }
.foto_details h3 span.opened {background: transparent url(/sfAssetsLibraryPlugin/images/expand.png) no-repeat 0 50%; }
.foto_details div { padding:10px 10px 20px 10px;}
.ajuda {background:url("/images/icons/info_16x16.png") no-repeat scroll 0 50% #EEFFFF;border:1px solid #EEFF00;color:#AA0000;
        padding:3px 3px 3px 3px;margin-left:10px;font-size:0.8em;}
#sf_asset_container .foto_details h4 { margin-bottom:10px}
#sf_asset_container .foto_details ul {margin-left:2em;}
#sf_asset_container .foto_details input { display:inline; width:200px}
#loading_folder { left:130px;position:absolute;top:50px;}
ul.descripcio li { margin: 7px 0;}

#sf_asset_container li.es_public label { display: inline}
#sf_asset_container li.es_public { float: left;}
.asset_left { float:left}
.descripcio_block { margin-left: 68px}
/** llistat d'imatges **/
.assetImage:hover {background-color: #ffe45c}

/** edit uploads in sfwUpload **/
.upload_thumbnail:hover { opacity:0.5}
.upload_thumbnail{ opacity: 1;cursor:pointer}